* {
  font-family: 'Times New Roman', Times, serif;
}
:root {
    --input-error: red;
    --button-disabled: #acacac;
    --button-success: rgb(18, 151, 107);
    --white: #fff;
    --black: #303030;
    --gray: #929292;
    --light-gray: #cfcfcf;
    --border-height: 1px;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  /*login fundo*/
  .login {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(img//fundo/mortalkombat.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .login__container {
    min-height: 400px;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login__title {
    margin-bottom: 32px;
    color: black;
  }
  
  .login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
  }
  
  .login__input-border {
    height: var(--border-height);
    width: 100%;
    margin-bottom: 16px;
    background: rgb(0, 0, 0);
    transition: .3s ease-in-out;
  }
  
  .login__input-border::after {
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 16px;
    background: black;
    transition: .3s ease-in-out;
  }
  
  .login__input:focus + .login__input-border::after {
    width: 100%;
  }
  
  .login__input-border.error {
    background: var(--input-error);
  }
  
  .login__input-border.error::after {
    background: var(--input-error);
  }
  /*butao de login config*/
  .login__submit {
    height: 48px;
    width: 100%;
    padding-left: 8px;
    outline: none;
    position: relative;
    background: black;
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .login__submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
  }
  
  .login__submit:hover {
    background-position: right;
  }
  
  .login__submit.success {
    background: var(--button-success);
  }
  
  .login__submit.error {
    background: var(--input-error);
  }
  
  .login__reset {
    font-size: 12px;
    color: #929292;
    text-decoration: none;
  }
  